<div class="tech-btm">
    <h4>
        Haber bültenine abone olun
    </h4>
    <p>Teknoloji, yazılım vb. daha bir çok yenilik hakkında ilk sizin haberiniz olsun..</p>
    <form asp-action="SubscribeMail" asp-controller="Newsletter" method="post">
        <input type="email" placeholder="E-posta adresinizi girin..." required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>